/*!
 * MERCHELLO.COM 
 * Rosetta Stone, The Merchello Learning Site
 */


body 
{
  margin			: 10px;
}

section  
{
    border			: 1px solid #bcb9b9;
	padding			: 10px;
	margin-bottom	: 5px;
}

.documentation 
{
    color           : #bcb9b9;
}

div.content 
{
    font-size       : 1.4em;
    padding         : 10px;
}

#logo 
{
    float           : left; 
    padding-right   : 10px;
    height          : 60px;
}

li.category, li.product
{
    padding-bottom  : 15px; 
    height          : 80px;
    list-style      : none;
}

img.productimage 
{
    height          : 70px; 
    float           : left;
    padding-right   : 15px;
}

/* -- simple css to make the navigation bar horizontal -- */

section #navigation_partial 
{
    height          : 130px;
}
#nav 
{
	width           : 100%;
	float           : left;
	margin          : 0 0 2em 0;
	padding         : 0;
	list-style      : none;
	background-color: #f2f2f2;
	border-bottom   : 1px solid #ccc; 
	border-top      : 1px solid #ccc; }

#nav li 
{
	float           : left; 

}

#nav li a 
{
	display         : block;
	padding         : 8px 15px;
	text-decoration : none;
	font-weight     : bold;
	color           : #069;
	border-right    : 1px solid #ccc; 

}

#nav li a:hover 
{
	color           : #c00;
	background-color: #fff; 

}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
