<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT CatalogPageFolder ANY>
<!ATTLIST CatalogPageFolder id ID #REQUIRED>
<!ELEMENT CheckoutPageFolder ANY>
<!ATTLIST CheckoutPageFolder id ID #REQUIRED>
<!ELEMENT RosettaBasePage ANY>
<!ATTLIST RosettaBasePage id ID #REQUIRED>
<!ELEMENT RosettaHomePage ANY>
<!ATTLIST RosettaHomePage id ID #REQUIRED>
<!ELEMENT RosettaListOfCategories ANY>
<!ATTLIST RosettaListOfCategories id ID #REQUIRED>
<!ELEMENT RosettaProductCategory ANY>
<!ATTLIST RosettaProductCategory id ID #REQUIRED>
<!ELEMENT RosettaProductPage ANY>
<!ATTLIST RosettaProductPage id ID #REQUIRED>
<!ELEMENT RosettaShoppingBasketPage ANY>
<!ATTLIST RosettaShoppingBasketPage id ID #REQUIRED>
<!ELEMENT RosettaStoreCheckoutPage ANY>
<!ATTLIST RosettaStoreCheckoutPage id ID #REQUIRED>

]>
<root id="-1">
  <RosettaHomePage id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-05-09T14:33:51" updateDate="2014-05-25T18:06:13" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="Rosetta Stone" writerName="admin" writerID="1" template="1052" nodeTypeAlias="RosettaHomePage">
    <RosettaListOfCategories id="1083" parentID="1054" level="2" creatorID="1" sortOrder="0" createDate="2014-05-20T15:04:11" updateDate="2014-05-22T17:07:43" nodeName="Catalog" urlName="catalog" path="-1,1054,1083" isDoc="" nodeType="1082" creatorName="admin" writerName="admin" writerID="1" template="1081" nodeTypeAlias="RosettaListOfCategories">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Rosetta Stone Catalog]]></pageTitle>
      <RosettaProductCategory id="1065" parentID="1083" level="3" creatorID="1" sortOrder="1" createDate="2014-05-12T16:23:06" updateDate="2014-05-25T17:06:48" nodeName="Happy Beans" urlName="happy-beans" path="-1,1054,1083,1065" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="1" template="1063" nodeTypeAlias="RosettaProductCategory">
        <RosettaProductPage id="1092" parentID="1065" level="4" creatorID="1" sortOrder="1" createDate="2014-05-23T23:27:19" updateDate="2014-05-23T23:27:26" nodeName="Award Winning Bean" urlName="award-winning-bean" path="-1,1054,1083,1065,1092" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Award Winning Bean]]></pageTitle>
          <productName><![CDATA[Award Winning Bean]]></productName>
          <productDescription><![CDATA[<p>Congratulations, you're the lucky winner!</p>]]></productDescription>
          <productImage>1091</productImage>
          <merchelloProduct><![CDATA[0621705f-0276-4ea0-8828-68983e72d2e6]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1096" parentID="1065" level="4" creatorID="1" sortOrder="2" createDate="2014-05-23T23:40:47" updateDate="2014-05-23T23:40:47" nodeName="Awww Flower Bean" urlName="awww-flower-bean" path="-1,1054,1083,1065,1096" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Awww Flower Bean]]></pageTitle>
          <productName><![CDATA[Awww Flower Bean]]></productName>
          <productDescription><![CDATA[<p>Awww, that is so sweet!</p>]]></productDescription>
          <productImage>1095</productImage>
          <merchelloProduct><![CDATA[466b745d-91d1-4d7f-8e69-3b3cc2186f61]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1100" parentID="1065" level="4" creatorID="1" sortOrder="3" createDate="2014-05-23T23:44:49" updateDate="2014-05-23T23:44:49" nodeName="Chatting Beans" urlName="chatting-beans" path="-1,1054,1083,1065,1100" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Chatting Beans]]></pageTitle>
          <productName><![CDATA[Chatting Beans]]></productName>
          <productDescription><![CDATA[<p>What did one bean say to the other bean? How you bean?</p>]]></productDescription>
          <productImage>1099</productImage>
          <merchelloProduct><![CDATA[443b4782-6cd1-4da2-b03b-63d5c13f645c]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1106" parentID="1065" level="4" creatorID="1" sortOrder="3" createDate="2014-05-24T00:22:26" updateDate="2014-05-24T00:22:26" nodeName="Dancing Beans" urlName="dancing-beans" path="-1,1054,1083,1065,1106" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Dancing Beans]]></pageTitle>
          <productName><![CDATA[Dancing Beans]]></productName>
          <productDescription><![CDATA[<p>A dancing bean is a happy bean.</p>]]></productDescription>
          <productImage>1105</productImage>
          <merchelloProduct><![CDATA[1538f42a-f14f-4f6d-b186-07e8b7ddb9c6]]></merchelloProduct>
        </RosettaProductPage>
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Happy Beans]]></pageTitle>
        <categoryImage>1108</categoryImage>
      </RosettaProductCategory>
      <RosettaProductCategory id="1089" parentID="1083" level="3" creatorID="1" sortOrder="2" createDate="2014-05-22T17:07:19" updateDate="2014-05-25T17:07:33" nodeName="Confused Beans" urlName="confused-beans" path="-1,1054,1083,1089" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="1" template="1063" nodeTypeAlias="RosettaProductCategory">
        <RosettaProductPage id="1094" parentID="1089" level="4" creatorID="1" sortOrder="0" createDate="2014-05-23T23:37:53" updateDate="2014-05-23T23:38:49" nodeName="Confused Bean Man" urlName="confused-bean-man" path="-1,1054,1083,1089,1094" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Confused Bean Man]]></pageTitle>
          <productName><![CDATA[Confused Bean Man]]></productName>
          <productDescription><![CDATA[<p>Now... where did I leave my keys, again?</p>]]></productDescription>
          <productImage>1093</productImage>
          <merchelloProduct><![CDATA[168ef832-fdea-4cbd-b0c9-22602b4fe522]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1057" parentID="1089" level="4" creatorID="0" sortOrder="1" createDate="2014-05-09T14:37:48" updateDate="2014-05-23T22:32:12" nodeName="Bean With Box" urlName="bean-with-box" path="-1,1054,1083,1089,1057" isDoc="" nodeType="1056" creatorName="Kyle Weems" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Bean With Box]]></pageTitle>
          <productName><![CDATA[Bean With Box]]></productName>
          <productDescription><![CDATA[<p><span>I mean, really. Why read the directions?</span></p>]]></productDescription>
          <productImage>1090</productImage>
          <merchelloProduct><![CDATA[58dd80bb-4d41-45d4-9594-5b14451f7ebb]]></merchelloProduct>
        </RosettaProductPage>
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Confused Beans]]></pageTitle>
        <categoryImage>1110</categoryImage>
      </RosettaProductCategory>
      <RosettaProductCategory id="1066" parentID="1083" level="3" creatorID="1" sortOrder="2" createDate="2014-05-14T19:40:36" updateDate="2014-05-25T17:07:06" nodeName="Sad Beans" urlName="sad-beans" path="-1,1054,1083,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="1" template="1063" nodeTypeAlias="RosettaProductCategory">
        <RosettaProductPage id="1102" parentID="1066" level="4" creatorID="1" sortOrder="2" createDate="2014-05-24T00:04:45" updateDate="2014-05-24T00:05:14" nodeName="Uh Oh Computer Bean" urlName="uh-oh-computer-bean" path="-1,1054,1083,1066,1102" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Uh Oh Computer Bean]]></pageTitle>
          <productName><![CDATA[Uh Oh Computer Bean]]></productName>
          <productDescription><![CDATA[<p>Uh, oh, it was not a good technology day for this bean.</p>]]></productDescription>
          <productImage>1101</productImage>
          <merchelloProduct><![CDATA[30db197e-a16a-4b5b-a95c-b85d9814c5df]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1104" parentID="1066" level="4" creatorID="1" sortOrder="3" createDate="2014-05-24T00:19:02" updateDate="2014-05-24T00:19:02" nodeName="Stubbed Toe Bean" urlName="stubbed-toe-bean" path="-1,1054,1083,1066,1104" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Stubbed Toe Bean]]></pageTitle>
          <productName><![CDATA[Stubbed Toe Bean]]></productName>
          <productDescription><![CDATA[<p>DARN IT that hurt like a slew of special characters!</p>]]></productDescription>
          <productImage>1103</productImage>
          <merchelloProduct><![CDATA[6ce53a06-8678-4c1d-80bc-98a3235352cf]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1067" parentID="1066" level="4" creatorID="1" sortOrder="4" createDate="2014-05-14T19:43:31" updateDate="2014-05-23T23:41:39" nodeName="Busy Bean" urlName="busy-bean" path="-1,1054,1083,1066,1067" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Busy Bean]]></pageTitle>
          <productName><![CDATA[Busy Bean]]></productName>
          <productDescription><![CDATA[<p>Such a busy, busy bean.</p>]]></productDescription>
          <productImage>1097</productImage>
          <merchelloProduct><![CDATA[7f8262dc-90ba-43b2-b368-b6069025724d]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1070" parentID="1066" level="4" creatorID="1" sortOrder="5" createDate="2014-05-14T19:59:17" updateDate="2014-05-23T23:42:42" nodeName="Celebrating Beans" urlName="celebrating-beans" path="-1,1054,1083,1066,1070" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Celebrating Beans]]></pageTitle>
          <productName><![CDATA[Celebrating Beans]]></productName>
          <productDescription><![CDATA[<p>Everybody loves a party!</p>]]></productDescription>
          <productImage>1098</productImage>
          <merchelloProduct><![CDATA[3838c4f7-500d-4700-ab1c-f0e52f453dad]]></merchelloProduct>
        </RosettaProductPage>
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Sad Beans]]></pageTitle>
        <categoryImage>1109</categoryImage>
      </RosettaProductCategory>
    </RosettaListOfCategories>
    <RosettaStoreCheckoutPage id="1062" parentID="1054" level="2" creatorID="1" sortOrder="1" createDate="2014-05-12T16:12:27" updateDate="2014-05-14T20:41:02" nodeName="Basket" urlName="basket" path="-1,1054,1062" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1061" nodeTypeAlias="RosettaStoreCheckoutPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Your Basket]]></pageTitle>
    </RosettaStoreCheckoutPage>
    <CheckoutPageFolder id="1073" parentID="1054" level="2" creatorID="1" sortOrder="2" createDate="2014-05-20T14:56:41" updateDate="2014-05-20T15:07:21" nodeName="Checkout" urlName="checkout" path="-1,1054,1073" isDoc="" nodeType="1072" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="CheckoutPageFolder">
      <RosettaStoreCheckoutPage id="1074" parentID="1073" level="3" creatorID="1" sortOrder="0" createDate="2014-05-20T14:58:01" updateDate="2014-05-20T14:58:38" nodeName="Get The Customer's Shipping Address" urlName="get-the-customers-shipping-address" path="-1,1054,1073,1074" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="RosettaStoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
      </RosettaStoreCheckoutPage>
      <RosettaStoreCheckoutPage id="1075" parentID="1073" level="3" creatorID="1" sortOrder="1" createDate="2014-05-20T14:58:28" updateDate="2014-05-20T14:58:28" nodeName="Present The Customer With Shipment Rate Quotes" urlName="present-the-customer-with-shipment-rate-quotes" path="-1,1054,1073,1075" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="RosettaStoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
      </RosettaStoreCheckoutPage>
      <RosettaStoreCheckoutPage id="1076" parentID="1073" level="3" creatorID="1" sortOrder="2" createDate="2014-05-20T14:59:09" updateDate="2014-05-20T14:59:09" nodeName="Select A Payment Method" urlName="select-a-payment-method" path="-1,1054,1073,1076" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="RosettaStoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
      </RosettaStoreCheckoutPage>
      <RosettaStoreCheckoutPage id="1077" parentID="1073" level="3" creatorID="1" sortOrder="3" createDate="2014-05-20T15:00:02" updateDate="2014-05-20T15:00:02" nodeName="Present Customer With Invoice - Confirm Ordering" urlName="present-customer-with-invoice-confirm-ordering" path="-1,1054,1073,1077" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="RosettaStoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
      </RosettaStoreCheckoutPage>
      <RosettaStoreCheckoutPage id="1078" parentID="1073" level="3" creatorID="1" sortOrder="4" createDate="2014-05-20T15:00:21" updateDate="2014-05-20T15:00:21" nodeName="Customer Receipt" urlName="customer-receipt" path="-1,1054,1073,1078" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="RosettaStoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
      </RosettaStoreCheckoutPage>
    </CheckoutPageFolder>
    <umbracoNaviHide>0</umbracoNaviHide>
    <pageTitle><![CDATA[Rosetta Stone, The Merchello Learning Site]]></pageTitle>
    <bodyText><![CDATA[<p>We've created this site to help those who are new to <a href="http://www.merchello.com" target="_blank" title="Merchello Web Site">Merchello</a> learn the lay of the land. It's not pretty, but hopefully it will make it even easier to find your way around.</p>
<p>We recommend that you <a href="http://github.com/Merchello/RosettaStone" target="_blank" title="Rosetta Stone Web Site">download the source code</a> for this sample site (a full install of Umbraco and Merchello) and begin to look through the pages both from Umbraco's back office, and from your favorite code editor. In addition to the brief setup information you'll find as you click through these pages, the code itself is commented and documented inline to help you get started.</p>
<p>If you have questions that aren't answered here, you can <a href="http://our.umbraco.org/projects/collaboration/merchello/merchello" target="_blank" title="Merchello Forums">post them to our Merchello community</a>.</p>
<p>We feel confident that you will love Merchello as much as we do -- and when you're ready, <a href="http://our.umbraco.org/projects/collaboration/merchello/merchello" target="_blank" title="Merchello Forums">find out more</a> about how you can help improve Merchello!</p>
<p>Thanks,<br />The Merchello Team.</p>]]></bodyText>
    <cartPage>1062</cartPage>
    <checkoutStep1>1074</checkoutStep1>
  </RosettaHomePage>
</root>