<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT CatalogFolder ANY>
<!ATTLIST CatalogFolder id ID #REQUIRED>
<!ELEMENT CategoryListing ANY>
<!ATTLIST CategoryListing id ID #REQUIRED>
<!ELEMENT CheckoutFolder ANY>
<!ATTLIST CheckoutFolder id ID #REQUIRED>
<!ELEMENT ProductCategory ANY>
<!ATTLIST ProductCategory id ID #REQUIRED>
<!ELEMENT ProductPage ANY>
<!ATTLIST ProductPage id ID #REQUIRED>
<!ELEMENT StoreBasePage ANY>
<!ATTLIST StoreBasePage id ID #REQUIRED>
<!ELEMENT StoreCheckoutPage ANY>
<!ATTLIST StoreCheckoutPage id ID #REQUIRED>
<!ELEMENT StoreHomePage ANY>
<!ATTLIST StoreHomePage id ID #REQUIRED>

]>
<root id="-1">
  <StoreHomePage id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-05-09T14:33:51" updateDate="2014-05-20T15:08:23" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="Kyle Weems" writerName="admin" writerID="1" template="1052" nodeTypeAlias="StoreHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <pageTitle><![CDATA[Home]]></pageTitle>
    <bodyText><![CDATA[<p>We've created this site to help those who are new to Merchello learn the lay of the land.</p>
<p>We recommend that you <a href="#">download the source code</a> for this sample site (a full install of Umbraco and Merchello) and begin to look through the pages both from Umbraco's back office, and from your favorite code editor.</p>
<p>If you have questions that aren't answered here, you can <a href="http://our.umbraco.org/projects/collaboration/merchello/merchello" target="_blank" title="Merchello Forums">post them to our Merchello community</a>.</p>
<p>We feel confident that you will love Merchello as much as we do -- and when you're ready, <a href="#">find out more</a> about how you can help improve Merchello!</p>
<p>Thanks,<br />The Merchello Team.</p>]]></bodyText>
    <cartPage>1062</cartPage>
    <checkoutStep1>1074</checkoutStep1>
    <CategoryListing id="1083" parentID="1054" level="2" creatorID="1" sortOrder="0" createDate="2014-05-20T15:04:11" updateDate="2014-05-22T17:07:43" nodeName="Catalog" urlName="catalog" path="-1,1054,1083" isDoc="" nodeType="1082" creatorName="admin" writerName="admin" writerID="1" template="1081" nodeTypeAlias="CategoryListing">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Rosetta Stone Catalog]]></pageTitle>
      <ProductCategory id="1065" parentID="1083" level="3" creatorID="1" sortOrder="1" createDate="2014-05-12T16:23:06" updateDate="2014-05-22T17:06:55" nodeName="Happy Beans" urlName="happy-beans" path="-1,1054,1083,1065" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="1" template="1063" nodeTypeAlias="ProductCategory">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Happy Beans]]></pageTitle>
        <ProductPage id="1057" parentID="1065" level="4" creatorID="0" sortOrder="3" createDate="2014-05-09T14:37:48" updateDate="2014-05-22T17:14:16" nodeName="Bean With Box" urlName="bean-with-box" path="-1,1054,1083,1065,1057" isDoc="" nodeType="1056" creatorName="Kyle Weems" writerName="admin" writerID="1" template="1055" nodeTypeAlias="ProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Bean With Box]]></pageTitle>
          <productName><![CDATA[Bean With Box]]></productName>
          <productDescription><![CDATA[<p><span>I mean, really. Why read the directions?</span></p>]]></productDescription>
          <productImage>1090</productImage>
          <merchelloProduct><![CDATA[56a8f0a9-1493-457d-9e46-27e3afff57f4]]></merchelloProduct>
        </ProductPage>
      </ProductCategory>
      <ProductCategory id="1066" parentID="1083" level="3" creatorID="1" sortOrder="2" createDate="2014-05-14T19:40:36" updateDate="2014-05-22T17:07:06" nodeName="Sad Beans" urlName="sad-beans" path="-1,1054,1083,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="1" template="1063" nodeTypeAlias="ProductCategory">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Sad Beans]]></pageTitle>
        <ProductPage id="1067" parentID="1066" level="4" creatorID="1" sortOrder="4" createDate="2014-05-14T19:43:31" updateDate="2014-05-20T15:04:25" nodeName="Cloud Cuckoo Place" urlName="cloud-cuckoo-place" path="-1,1054,1083,1066,1067" isDoc="" nodeType="1056" creatorName="admin" writerName="Kyle Weems" writerID="0" template="1055" nodeTypeAlias="ProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Cloud Cuckoo Place]]></pageTitle>
          <productName><![CDATA[Cloud Cuckoo Place]]></productName>
          <productDescription><![CDATA[<p><span>Protect Emmet and Wyldstyle in The LEGO® Movie Cloud Cuckoo Palace with its flowers, multi-colored twirling discs and flower catapult.</span></p>
<p> </p>
<p>You can really buy it here http://shop.lego.com/en-US/Cloud-Cuckoo-Palace-70803</p>]]></productDescription>
          <productImage>1068</productImage>
          <merchelloProduct><![CDATA[a05c6595-15a5-49d2-b7f5-7d0fcddd0a5c]]></merchelloProduct>
        </ProductPage>
        <ProductPage id="1070" parentID="1066" level="4" creatorID="1" sortOrder="5" createDate="2014-05-14T19:59:17" updateDate="2014-05-20T15:04:25" nodeName="Bad Cop's Pursuit" urlName="bad-cops-pursuit" path="-1,1054,1083,1066,1070" isDoc="" nodeType="1056" creatorName="admin" writerName="Kyle Weems" writerID="0" template="1055" nodeTypeAlias="ProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Bad Cop's Pursuit]]></pageTitle>
          <productName><![CDATA[Bad Cop's Pursuit]]></productName>
          <productDescription><![CDATA[<p><span>Build The LEGO® Movie Bad Cop’s Pursuit set with collapsing train track, flying police car with laser cannons and a cool new blaster.</span></p>
<p> </p>
<p><span>You can actually buy this here http://shop.lego.com/en-US/Bad-Cop-s-Pursuit-70802</span></p>]]></productDescription>
          <productImage>1068</productImage>
          <merchelloProduct><![CDATA[58dd80bb-4d41-45d4-9594-5b14451f7ebb]]></merchelloProduct>
        </ProductPage>
      </ProductCategory>
      <ProductCategory id="1089" parentID="1083" level="3" creatorID="1" sortOrder="2" createDate="2014-05-22T17:07:19" updateDate="2014-05-22T17:07:19" nodeName="Confused Beans" urlName="confused-beans" path="-1,1054,1083,1089" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="1" template="1063" nodeTypeAlias="ProductCategory">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Confused Beans]]></pageTitle>
      </ProductCategory>
    </CategoryListing>
    <StoreCheckoutPage id="1062" parentID="1054" level="2" creatorID="1" sortOrder="1" createDate="2014-05-12T16:12:27" updateDate="2014-05-14T20:41:02" nodeName="Basket" urlName="basket" path="-1,1054,1062" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1061" nodeTypeAlias="StoreCheckoutPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Your Basket]]></pageTitle>
    </StoreCheckoutPage>
    <CheckoutFolder id="1073" parentID="1054" level="2" creatorID="1" sortOrder="2" createDate="2014-05-20T14:56:41" updateDate="2014-05-20T15:07:21" nodeName="Checkout" urlName="checkout" path="-1,1054,1073" isDoc="" nodeType="1072" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="CheckoutFolder">
      <umbracoNaviHide>1</umbracoNaviHide>
      <StoreCheckoutPage id="1074" parentID="1073" level="3" creatorID="1" sortOrder="0" createDate="2014-05-20T14:58:01" updateDate="2014-05-20T14:58:38" nodeName="Get The Customer's Shipping Address" urlName="get-the-customers-shipping-address" path="-1,1054,1073,1074" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="StoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
      </StoreCheckoutPage>
      <StoreCheckoutPage id="1075" parentID="1073" level="3" creatorID="1" sortOrder="1" createDate="2014-05-20T14:58:28" updateDate="2014-05-20T14:58:28" nodeName="Present The Customer With Shipment Rate Quotes" urlName="present-the-customer-with-shipment-rate-quotes" path="-1,1054,1073,1075" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="StoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
      </StoreCheckoutPage>
      <StoreCheckoutPage id="1076" parentID="1073" level="3" creatorID="1" sortOrder="2" createDate="2014-05-20T14:59:09" updateDate="2014-05-20T14:59:09" nodeName="Select A Payment Method" urlName="select-a-payment-method" path="-1,1054,1073,1076" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="StoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
      </StoreCheckoutPage>
      <StoreCheckoutPage id="1077" parentID="1073" level="3" creatorID="1" sortOrder="3" createDate="2014-05-20T15:00:02" updateDate="2014-05-20T15:00:02" nodeName="Present Customer With Invoice - Confirm Ordering" urlName="present-customer-with-invoice-confirm-ordering" path="-1,1054,1073,1077" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="StoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
      </StoreCheckoutPage>
      <StoreCheckoutPage id="1078" parentID="1073" level="3" creatorID="1" sortOrder="4" createDate="2014-05-20T15:00:21" updateDate="2014-05-20T15:00:21" nodeName="Customer Receipt" urlName="customer-receipt" path="-1,1054,1073,1078" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="StoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
      </StoreCheckoutPage>
    </CheckoutFolder>
  </StoreHomePage>
</root>