@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "StoreBasePage.cshtml";
}

<ul>
    @foreach (var category in CurrentPage.Children.Where("Visible"))
    {
        <li><a href="@category.Url">@category.Name</a></li>
    }
</ul>