@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "RosettaBasePage.cshtml";
}


<section>

    <p class="documentation"><strong>RosettaBaseCheckoutPage.cshtml (view)</strong><br /></p>

</section>