@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "RosettaBasePage.cshtml";
}

<section id="home_page">

    <p class="documentation"><strong>RosettaHomePage.cshtml (view)</strong></p>

    <div class="content">
        @CurrentPage.bodyText
    </div>

</section>