@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Web

@{
    Layout = "RosettaBasePage.cshtml";
}

<section>

    <p class="documentation"><strong>RosettaStoreChekoutPage.cshtml (view)</strong><br />
    Welcome! We are going to walk step-by-step through the checkout process.</p>

    <!-- Quick and easy way to check whether the current shopping basket is empty. -->
    <!-- This only works if you inherit from the MerchelloTemplatePage -->
    @if (CurrentCustomer.Basket().IsEmpty)
    {
        <h2>Note: Your basket is empty, so you won't be able to continue checking out.</h2>
    }

    <ul>
        <li>@MakeLink("Step 1: Shipping Address", "/checkout/checkout-1-shipping-address/")</li>
        <li>Step 2: Shipping Quotes</li>
        <li>Step 3: Select Payment Method</li>
        <li>Step 4: Confirmation and Invoice</li>
        <li>Step 5: Customer Receipt</li>
    </ul>

</section>

@helper MakeLink(string title, string url){
    if (CurrentCustomer.Basket().IsEmpty)
    {
        @title
    }
    else
    {
        <a href="@url">@title</a>
    }


}