@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Web
@{
    Layout = null;
    IPublishedContent home = Umbraco.TypedContent(UmbracoContext.PageId).AncestorOrSelf(1);
}

<html>
	<head>
        <title>@home.GetPropertyValue("pageTitle") | @CurrentPage.GetPropertyValue("pageTitle")</title>

        <!-- We are using twitter bootstrap styles, as well as our own. Refer to getbootstrap.com -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/rosettastonestyles.css" rel="stylesheet" />
	</head>

	<body>

        <section id="base_page">
           
            <div id="logo">
                <!-- Bad practice. Hardcoded logo image. I know you'd never do this. :-) -->
                <img src="/media/1017/dxdx0yz-_bigger.png" alt="Merchello Logo" height="50" />
            </div>

            <p class="documentation"><strong>RosettaBasePage.cshtml (view)</strong><br />
            Our base page contains the basic setup for our site, such as CSS setup and placing the navigation and logo throughout the site.</p>
 
            <!-- Display partial view for navigation here, so it will show on every page -->
            @Html.Partial("Navigation")

            <div id="content">
                @RenderBody()
            </div>
            
        </section>

	    <script src="/scripts/bootstrap.min.js"></script>
	    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="/scripts/merch-functions.js"></script>
        
	</body>
</html>