@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Web
@{
    Layout = null;
}

<html>
	<head>
        <!-- Note: AncestorOrSelf only works if you hard-code the name of your home page as the parameter. -->
        <title>@CurrentPage.AncestorOrSelf("RosettaHomePage").PageTitle | @CurrentPage.GetPropertyValue("pageTitle")</title>

        <!-- We are using twitter bootstrap styles, as well as our own. Note the reference to the bootstrap js at the bottom of this file, as well -->
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/rosettastonestyles.css" rel="stylesheet" />
	</head>

	<body>

        <section id="base_page">
            
            <p class="documentation"><strong>RosettaBasePage.cshtml (view)</strong><br />
            Our base page contains the basic setup for our site, such as CSS setup and placing the navigation and logo throughout the site.</p>
 
            <!-- Put a header or other permanent base page items here -->
            <!-- TODO add logo -->

            <!-- Display partial view for navigation here, so it will show on every page -->
            @Html.Partial("Navigation")

            <div id="content">
                @RenderBody()
            </div>
            
        </section>

        <script src="~/scripts/bootstrap.min.js"></script>
	</body>
</html>