@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Web

@{
    Layout = "RosettaBasePage.cshtml";

    
    if (CurrentCustomer.Basket().IsEmpty)
    {
        Response.Redirect("/");
    }
}

<section>

    <p class="documentation"><strong>RosettaStoreChekoutPage.cshtml (view)</strong><br />
    Welcome! We are going to walk step-by-step through the checkout process.</p>

    <ul>
        <li><a href="/checkout/checkout-1-shipping-address/">Step 1: Shipping Address</a></li>
        <li>Step 2: Shipping Quotes</li>
        <li>Step 3: Select Payment Method</li>
        <li>Step 4: Confirmation and Invoice</li>
        <li>Step 5: Customer Receipt</li>
    </ul>

</section>